.App {
  text-align: center;
}

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
  padding: 10px;
  height: 100vh;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.20);
  padding: 10px;
  height: 95vh;
}

.map-overlay .map-overlay-inner h2  {
  font-size: 150%;
}

.crop-list li {
  cursor: pointer;
  padding-top: .5em;
}

